<div class="forum-container">
    <div class="forum-options">
        <button mat-raised-button color="accent" (click)="onClickCreateForum()">Přidat nové fórum</button>
    </div>

    <mat-expansion-panel *ngFor="let forumsCategory of forumsGroupedByCategory$ | async" hideToggle>

        <mat-expansion-panel-header>
            <mat-panel-title>
                {{forumsCategory.category}}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-selection-list #forums [multiple]="false" dense>
            <mat-list-option *ngFor="let forum of forumsCategory.forums" [value]="forum" [routerLink]="[forum.forumId]">
                {{forum.name}}
            </mat-list-option>
        </mat-selection-list>

    </mat-expansion-panel>

</div>