.form {
    min-width: 150px;
    max-width: 500px;
    width    : 100%;
}

.full-width {
    width: 100%;
}

.form-actions {
    display        : flex;
    justify-content: space-between
}

.role-row {
    display: flex;
}

.margin-bottom {
    margin-top: 8px;
}

.margin-bottom {
    margin-bottom: 8px;
}

.margin-right {
    margin-right: 8px;
}

.fixed-width {
    width: 100px;
}