.avatar-container {
    img {
        width: inherit;
    }
}

#avatar-div {
    input {
        margin: 0 8px;
    }
}

.tab-body {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
}