<ng-container *ngIf="character$ | async as character">

    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="avatar-container">
                <img *ngIf="!character.avatar" src="assets/pictures/unknown-character.png" alt="{{character.name}}" />
                <img *ngIf="character.avatar" src="{{character.avatar}}" alt="{{character.name}}" />
            </div>
            <mat-card-title>{{character.name}}</mat-card-title>
            <mat-card-subtitle>{{character.rasa}} {{character.povolani}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <mat-tab-group>
                <mat-tab label="Základní informace">
                    <div class="tab-body">
                        <div>
                            <p>
                                Síla <strong>{{character.sila}}</strong>
                            </p>
                            <p>
                                Obratnost <strong>{{character.obratnost}}</strong>
                            </p>
                            <p>
                                Odolnost <strong>{{character.odolnost}}</strong>
                            </p>
                            <p>
                                Inteligence <strong>{{character.inteligence}}</strong>
                            </p>
                            <p>
                                Charisma <strong>{{character.charisma}}</strong>
                            </p>
                        </div>

                        <div>
                            <p>
                                Max. životy <strong>{{character.maxZivoty}}</strong>
                            </p>
                            <p>
                                Životy <strong>{{character.zivoty}}</strong>
                            </p>
                            <p>
                                Max. mágy <strong>{{character.maxMagy}}</strong>
                            </p>
                            <p>
                                Mágy <strong>{{character.magy}}</strong>
                            </p>
                        </div>

                        <div>
                            <p>
                                Úroveň <strong>{{character.uroven}}</strong>
                            </p>
                            <p>
                                Zkušenosti <strong>{{character.zkusenosti}}</strong>
                            </p>
                        </div>

                        <div>
                            <p id="avatar-div">
                                <label for="avatar">Avatar</label>
                                <input id="avatar" name="avatar" type="file" accept="image/jpeg"
                                    (change)="onFileChange($event)" />
                            </p>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Speciální schopnosti">
                    <div class="tab-body">TODO kouzla</div>
                </mat-tab>
                <mat-tab label="Profibody">
                    <div class="tab-body">TODO profibody</div>
                </mat-tab>
            </mat-tab-group>


        </mat-card-content>
    </mat-card>


</ng-container>