
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ImmortalFighters-primary: mat-palette($mat-brown, 200, 100, 500);
$ImmortalFighters-accent: mat-palette($mat-blue, 300);

// The warn palette is optional (defaults to red).
$ImmortalFighters-warn: mat-palette($mat-red);
$ImmortalFighters-success: mat-palette($mat-green);
$warn-color: mat-color($ImmortalFighters-warn);
$success-color: mat-color($ImmortalFighters-success);
$primary-color: mat-color($ImmortalFighters-primary);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ImmortalFighters-theme: mat-dark-theme((
  color: (
    primary: $ImmortalFighters-primary,
    accent: $ImmortalFighters-accent,
    warn: $ImmortalFighters-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ImmortalFighters-theme);

@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.failed-snackbar {
  background: $warn-color;
}

.failed-snackbar span {
  color: white;
}

.succeeded-snackbar {
  background: $success-color;
}

.succeeded-snackbar span {
  color: white;
}

.ql-toolbar {
  background: $primary-color;
}

.ql-editor {
  background: #424242;
}

.ql-container {
  max-height: 33vh;
  overflow-y: auto;
}

.ngx-quill-view {
  height: auto;
}