<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Immortal Fighters</mat-card-title>
      <mat-card-subtitle>Registrace</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
          placeholder="Např. hrac@mail.cz" autocomplete="email">
        <mat-error
          *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">
          Prosím zadejte platný email
        </mat-error>
        <mat-error *ngIf="form.controls['email'].hasError('required')">
          Email je vyžadovaný
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Uživatelské jméno</mat-label>
        <input type="text" matInput formControlName="username" [errorStateMatcher]="matcher" placeholder="Např. Petr" autocomplete="username">
        <mat-error *ngIf="form.controls['username'].hasError('required')">
          Uživatelské jméno je vyžadované
        </mat-error>
        <mat-error *ngIf="form.controls['username'].hasError('minlength')">
          Uživatelské jméno musí mít alespoň 4 znaky
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Heslo</mat-label>
        <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher" autocomplete="new-password">
        <mat-error *ngIf="form.controls['password'].hasError('required')">
          Heslo je vyžadované
        </mat-error>
        <mat-error *ngIf="form.controls['password'].hasError('minlength')">
          Heslo musí mít alespoň 8 znaků
        </mat-error>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button type="submit" [disabled]="!form.valid" mat-raised-button color="accent">Zaregistrovat</button>
    </mat-card-actions>
  </mat-card>
</form>